body{
    margin: 0;
    padding: 0;
    background-image: url(pets.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1{
    font-size: 50px;
    font-family: "courier";
    text-align: center
}

h2{
    font-size: 20px;
    font-family: "courier";
    color: #551A8B;
}


.search-container{
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%,-50%);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    background: #eccc68;
}



.search-btn{
    float: right;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
}

#cse-search-box-form-id{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}


.navigator{
    position: fixed;
    top:30%;
    left: 5%;
    transform: translate(-30%,-5%);
    background-color: #eccc68;
    height: 400px;
    width: 200px;
    text-align: center;
  
}
.recommendation{
    position: fixed;
    top:30%;
    left: 89%;
    transform: translate(-30%,-5%);
    background-color: #eccc68;
    height: 400px;
    width: 200px;
    text-align: center;
  
}

.home:hover{
    background: #ccae62;
}

.setting:hover{
    background: #ccae62;
}

.home{
    
    font-size: 30px;
    font-family: "courier";
}

.setting{
    
    font-size: 30px;
    font-family: "courier";
}
.result{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%,-50%);
    height: 100px;
    padding: 10px;
}
